body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.logo-1{
    width: 175px;
    height: auto;
    margin:10px;
}

.nav__item {
    margin-left: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(76, 76, 76);
}

.linea-1{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Poppins", sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}
.top-menu{
    margin: 10px;
    justify-content: space-between;
}
.link{
    margin: 10px;
}
.btn-section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
}
.contenido-top{
    display: flex;
    justify-content: flex-start;
    margin-left: 360px;
}
.btn{
    text-align: center;
    color: white;
    background-color: greenyellow;
    padding: 15px;
    border: none;
}
.card-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 40px;
}
.card{
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 0px;
}
.img-card{
    width:100%;
    height: auto;
}
.title-card{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: -10px;
}
.p-card{
    font-size: 20px;
    font-weight: 100;
}
.sub-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.precio{
    text-align: left;
}
.article{
    margin: 50px;
    padding:20px;
    background-color: white;
}
.mini-icon{
    width: 20px;
}
.icons-down{
    display: inline-flex;
    margin:20px;
    justify-content: space-between;
}
.anuncios{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    gap:20px;
}
.anuncios img {
    width: 30%;
}
.end-section{
    display: flex;
    justify-content: space-between;

}
.contact{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: start;

}
